<!-- Header Start -->
<header class="header01 isSticky">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="navArea">
                    <div class="logo">
                        <a href="index.html"><img src="../assets/images/logo.png" alt="AIDAC"/></a>
                    </div>
                    <nav class="mainMenu">
                        <ul>
                            <li class="current-menu-item">
                                <a href="index.html">Home</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="javascript:void(0);">Research</a>
                                <ul>
                                    <li><a href="../pages/research-antenna.html">Antenna</a></li>
                                    <li><a href="../pages/research-filter.html">Filter</a></li>
                                    <li><a href="../pages/research-analog-ic.html">Analog IC</a></li>
                                    <li><a href="../pages/research-rfic.html">RFIC</a></li>
                                </ul>
                            </li>
                            <li><a href="blog-grid-lsb.html">Event</a></li>
                            <li><a href="blog-list-rsb.html">Case Studies</a></li>
                            <li><a href="appointment.html">Contact</a></li>
                            <li><a href="unified-admin.html">Admin</a></li>
                        </ul>
                    </nav>
                    <div class="accessNav">
                        <div class="phoneCall">
                            <i class="fa fa-map-marker"></i>
                            <span>University of Glasgow</span>
                            <h6>G12 8QQ</h6>
                        </div>
                        <a href="http://ec2-35-176-54-107.eu-west-2.compute.amazonaws.com/" target="_blank" class="lab_btn lightHover requestBTN"><span><i class="fa fa-satellite"></i>Antenna Paradise</span></a>
                        <a href="javascript:void(0);" class="menuBtn"><span><i class="fa fa-bars"></i>Menu</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End --> 