<!-- Section Start -->
<footer class="footer01">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="subscribeForm">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="sfLeft">
                                <img src="../assets/images/icons/1.png" alt=""/>
                                <h3>
                                    Stay Updated with AIDAC Research 
                                    and Innovations
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <form method="post" action="#">
                                <input type="email" name="email" placeholder="Your Email Address"/>
                                <button type="submit">Subscribe Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row widgetRow">
            <div class="col-md-6 col-lg-3">
                <aside class="widget">
                    <div class="contactWidtetContent">
                        <div class="footerLogo">
                            <a href="index.html"><img src="../assets/images/logo.png" alt="AIDAC"/></a>
                        </div>
                        <div class="cwcInfo">
                            <i class="fa fa-map-marker"></i>
                            University of Glasgow, G12 8QQ
                        </div>
                        <div class="cwcInfo">
                            <i class="fa fa-envelope"></i>
                            <a href="mailto:info@aidac.ac.uk">info@aidac.ac.uk</a>
                        </div>
                        <div class="cwcInfo">
                            <i class="fa fa-phone"></i>
                            0000000000
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-md-6 col-lg-2">
                <aside class="widget">
                    <h3 class="widgetTitle">About Us</h3>
                    <ul>
                        <li><a href="about.html">About AIDAC</a></li>
                        <li><a href="team.html">Leadership Team</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="careers.html">Careers</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-md-6 col-lg-2">
                <aside class="widget">
                    <h3 class="widgetTitle">Research</h3>
                    <ul>
                        <li><a href="research.html">Research Publications</a></li>
                        <li><a href="research.html?tag=antenna">Antenna Research</a></li>
                        <li><a href="research.html?tag=filter">Filter Research</a></li>
                        <li><a href="research.html?tag=analog ic">Analog IC Research</a></li>
                        <li><a href="research.html?tag=rfic">RFIC Research</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-md-6 col-lg-2">
                <aside class="widget">
                    <h3 class="widgetTitle">Case Studies</h3>
                    <ul>
                        <li><a href="blog-list-rsb.html">All Case Studies</a></li>
                        <li><a href="case-single.html?id=1">Antenna Design</a></li>
                        <li><a href="case-single.html?id=2">Filter Optimization</a></li>
                        <li><a href="case-single.html?id=3">IC Development</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-md-6 col-lg-3">
                <aside class="widget">
                    <h3 class="widgetTitle">Resources</h3>
                    <ul>
                        <li><a href="news.html">News & Updates</a></li>
                        <li><a href="knowledge-base.html">Knowledge Base</a></li>
                        <li><a href="downloads.html">Downloads</a></li>
                        <li><a href="support.html">Technical Support</a></li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <aside class="widget">
                    <h3 class="widgetTitle">Location</h3>
                    <div class="map-container" style="height: 200px; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 8px rgba(0,0,0,0.1);">
                        <iframe 
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2238.1234567890123!2d-4.2875!3d55.8721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488846c5c5c5c5c5%3A0x5c5c5c5c5c5c5c5c!2sUniversity+of+Glasgow!5e0!3m2!1sen!2suk!4v1234567890123"
                            width="100%" 
                            height="100%" 
                            style="border:0;" 
                            allowfullscreen="" 
                            loading="lazy" 
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </aside>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="copyrightRow">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="siteInfo">© 2025 AIDAC All rights reserved.</div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="siteSocial">
                                <a href="javascript:void(0);"><i class="fa fa-facebook-square"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-github"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Section End --> 